{% extends "./base.html.twig" %}

{% block title %}Project{% endblock %}
{% block body %}
    <div class="container">
        <section class="section" id="form">
            <div class="inner-container">
                {% include 'chunks/flash_messages.html.twig' %}
                <h1 class="title">Projekteintrag</h1>
                {{ form_start(form) }}
                <div class="my-custom-class-for-errors is-danger">
                    {{ form_errors(form) }}
                </div>
                <div class="field">
                    <label class="label">Wird im Frontend angezeigt</label>
                    <div class="control">
                        <div class="field">
                            {{ form_widget(form.active, { 'attr': {'class': 'switch'} }) }}
                            <label for="project_active"></label>
                        </div>
                    </div>
                </div>
                <div class="field">
                    {{ form_label(form.title, null, {
                        'label_attr': {'class': 'label'}
                    }) }}
                    <div class="control">
                        {{ form_widget(form.title, { 'attr': {'class': 'input'} }) }}
                    </div>
                </div>
                <div class="field">
                    {{ form_label(form.website, null, {
                        'label_attr': {'class': 'label'}
                    }) }}
                    <div class="control">
                        {{ form_widget(form.website, { 'attr': {'class': 'input','placeholder': 'https://'} }) }}
                    </div>
                </div>
                <div class="field">
                    {{ form_label(form.github, null, {
                        'label_attr': {'class': 'label'}
                    }) }}
                    <div class="control">
                        {{ form_widget(form.github, { 'attr': {'class': 'input'} }) }}
                    </div>
                </div>
                <div class="field">
                    {{ form_label(form.description, null, {
                        'label_attr': {'class': 'label'}
                    }) }}
                    <div class="control">
                        {{ form_widget(form.description, { 'attr': {'class': 'textarea'} }) }}
                    </div>
                </div>
                <h3 class="has-text-white mt-6">Skills</h3>
                {% import _self as formMacros %}

                {% macro formatCollection(form) %}
                    <div class="contentSection">
                        <h3 class="has-text-white mb-2 mt-5"><span class="index"></span>Skill</h3>
                        <div class="field">
                            {{ form_label(form.title, null, {
                                'label_attr': {'class': 'label'}
                            }) }}
                            <div class="control">
                                {{ form_widget(form.title, { 'attr': {'class': 'input'} }) }}
                            </div>
                        </div>
                        <div class="field">
                            {{ form_label(form.value, null, {
                                'label_attr': {'class': 'label'}
                            }) }}
                            <div class="control">
                                {{ form_widget(form.value) }}
                            </div>
                        </div>
                    </div>
                {% endmacro %}


                <div class="collectionsContainer">
                    <div class="collections columns is-multiline mt-6 mb-6" data-index="{{ form.skills|length > 0 ? form.skills|last.vars.name + 1 : 0 }}" data-prototype="{{ formMacros.formatCollection(form.skills.vars.prototype)|e('html_attr') }}">
                        {% for item in form.skills %}
                                {{ formMacros.formatCollection(item) }}
                        {% endfor %}
                    </div>
                </div>
                <button type="button" class="add_item_link button is-success" data-collection-holder-class="collections">Add a Skill</button>
                <div class="field mt-6">
                    {{ form_label(form.my_files, null, {
                        'label_attr': {'class': 'label'}
                    }) }}
                    {%  include 'chunks/attachments.html.twig' with {'attachments':attachments,'module':'project'}  %}
                    <div class="control">
                        {{ form_widget(form.my_files, { 'attr': {'class': 'input'} }) }}
                    </div>
                </div>
                <div class="field">
                    {{ form_widget(form.save, { 'label': 'Submit','attr': {'class': 'button'} }) }}
                </div>
                {{ form_end(form) }}
            </div>
        </section>
    </div>
{% endblock %}
