{% extends "./base.html.twig" %}

{% block title %}Project{% endblock %}
{% block body %}
    <div class="container">
        <section class="section" id="form">
            {% include 'chunks/flash_messages.html.twig' %}
            <h1 class="title">Section</h1>
            {{ form_start(form) }}
            <div class="my-custom-class-for-errors is-danger">
                {{ form_errors(form) }}
            </div>
            <div class="field">
                <label class="label">Wird im Frontend angezeigt</label>
                <div class="control">
                    <div class="field">
                        {{ form_widget(form.active, { 'attr': {'class': 'switch'} }) }}
                        <label for="section_active"></label>
                    </div>
                </div>
            </div>
            <div class="field">
                {{ form_label(form.name, null, {
                    'label_attr': {'class': 'label'}
                }) }}
                <div class="control">
                    {{ form_widget(form.name, { 'attr': {'class': 'input'} }) }}
                </div>
            </div>
            <div class="field mb-6">
                {{ form_label(form.template, null, {
                    'label_attr': {'class': 'label'}
                }) }}
                <div class="control">
                    {{ form_widget(form.template, { 'attr': {'class': 'input'} }) }}
                </div>
            </div>
            <h3 class="has-text-white has-text-left">Content</h3>
            {% import _self as formMacros %}

            {% macro formatCollection(form, attachments) %}
                <div class="contentSection">
                    <h3 class="has-text-white mb-2 mt-6"><span class="index"></span>Block</h3>
                    <div class="field">
                        {{ form_label(form.title, null, {
                            'label_attr': {'class': 'label'}
                        }) }}
                        <div class="control">
                            {{ form_widget(form.title, { 'attr': {'class': 'input'} }) }}
                        </div>
                    </div>
                    <div class="field">
                        {{ form_label(form.text, null, {
                            'label_attr': {'class': 'label'}
                        }) }}
                        <div class="control">
                            {{ form_widget(form.text, { 'attr': {'class': 'textarea'} }) }}
                        </div>
                    </div>
                    <div class="field">
                        {{ form_label(form.my_files, null, {
                            'label_attr': {'class': 'label'}
                        }) }}
                        {%  include 'chunks/attachments.html.twig' with {'attachments':attachments,'module':'section'}  %}
                        <div class="control">
                            {{ form_widget(form.my_files, { 'attr': {'class': 'input'} }) }}
                        </div>
                    </div>
                </div>

            {% endmacro %}

            {% for item in form.content %}
                {{ formMacros.formatCollection(item, contents[loop.index0].getMyFiles()) }}
            {% endfor %}

            {# formMacros.formatCollection(form.content.vars.prototype)|e('html_attr') #}
            <div class="content-add" data-index="{{ form.content|length > 0 ? form.content|last.vars.name + 1 : 0 }}" data-prototype="{{ formMacros.formatCollection(form.content.vars.prototype)|e('html_attr') }}"></div>

            <button type="button" class="add_item_link button is-success" data-collection-holder-class="content-add">Add Content Block</button>

            <div class="field mt-6">
                {{ form_widget(form.save, { 'label': 'Submit','attr': {'class': 'button','onclick':'window.location.hash = "hobby"'} }) }}
            </div>

            {{ form_end(form) }}
        </section>
    </div>
    <script>

    </script>
{% endblock %}
