<div class="inner-container">
    <div class="content inner">
        {{ form_start(form) }}
        <div class="my-custom-class-for-errors is-danger">
            {{ form_errors(form) }}
        </div>
        <div class="field">
            {{ form_label(form.name, null, {
                'label_attr': {'class': 'label'}
            }) }}
            <div class="control">
                {{ form_widget(form.name, { 'attr': {'class': 'input'} }) }}
            </div>
        </div>
        <div class="field">
            {{ form_label(form.email, null, {
                'label_attr': {'class': 'label'}
            }) }}
            <div class="control has-icons-left">
                {{ form_widget(form.email, { 'attr': {'class': 'input', 'type':'email'} }) }}
                <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            </div>
        </div>
        <div class="field">
            {{ form_label(form.phone, null, {
                'label_attr': {'class': 'label'}
            }) }}
            <div class="control has-icons-left">
                {{ form_widget(form.phone, { 'attr': {'class': 'input'} }) }}
                <span class="icon is-small is-left">
              <i class="fas fa-phone"></i>
            </span>
            </div>
        </div>
        <div class="field">
            {{ form_label(form.text, null, {
                'label_attr': {'class': 'label'}
            }) }}
            <div class="control">
                {{ form_widget(form.text, { 'attr': {'class': 'textarea'} }) }}
            </div>
        </div>
        <div class="field">
            <button class="button" type="submit">Send</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
