{% extends "base.html.twig" %}

{% block title %}Events{% endblock %}
{% block body %}
    <section class="news pb-6">
        <div class="inner-container">
            <h1>{{ page.title }}</h1>
            <section class="accordions">
            {% for event in events %}
                <article class="accordion">
                    <div class="accodion-header toggle">
                        <div class="head">
                            <nav class="level">
                                <div class="level-item location">
                                    <p>{{ event.location|upper }}</p>
                                </div>
                                <div class="level-item date">
                                    <p></p>
                                </div>
                                <div class="level-item category">
                                    <p>Restaurant</p>
                                </div>
                                <div class="level-item beginning">
                                    <p>{{ event.time }}</p>
                                </div>
                            </nav>
                        </div>
                        <div class="body p-2">
                            <div class="columns is-mobile">
                                <div class="column is-3">
                                    <figure class="image">
                                        <img class="object-fit-cover" src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="{{ event.image }}" />
                                    </figure>
                                </div>
                                <div class="column is-9">
                                    <h3 class="title">{{ event.title }}</h3>
                                </div>
                            </div>


                        </div>

                        <span class="gg-chevron-down"></span>
                    </div>
                    <div class="accordion-body">
                        <div class="accordion-content">
                            <div class="columns is-desktop">
                                <div class="column eventInfos is-3">
                                    <a class="button">Tickets</a>
                                    <p>Tickets</p>
                                    <p>Tickets</p>
                                    <p>Tickets</p>
                                    <p>Tickets</p>
                                    <p>Tickets</p>
                                </div>
                                <div class="column eventContent is-4">
                                    {{ event.description|markdown_to_html }}
                                </div>
                                <div class="column eventGallery is-5">
                                    <figure class="image">
                                        <img class="object-fit-cover" src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="{{ event.image }}" />
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
            </section>
        </div>
    </section>

{% endblock %}
