<div class="container">
    <div class="form-widget">
        {% for image in field.value %}
            <a href="#" class="col-sm ea-lightbox-thumbnail" data-ea-lightbox-content-selector="#ea-lightbox-{{ image.id }}" data-featherlight="#ea-lightbox-{{ image.id }}" data-featherlight-close-on-click="anywhere">
                <img class="fill" src="uploads/team/{{ image.image }}" width="200" height="200" style="object-fit: cover">
            </a>
            <div id="ea-lightbox-{{ image.id }}" class="ea-lightbox">
                <img src="uploads/team/{{ image.image }}" alt="">
            </div>
        {% endfor %}
    </div>
</div>
