{% for hobby in hobbies %}
    <div class="columns is-tablet {% if loop.index % 2 == 0 %}is-flex-direction-row-reverse	{% endif %}">
            <div class="column is-half p-0">
                <div class="{% if hobby.attachments|length > 1 %}has-swiper{% endif %}">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            {% for attachment in hobby.attachments %}
                                <div class="swiper-slide">
                                    <img src="{{ asset('/uploads/hobby/')~attachment.imageFile  }}" alt="{{ attachment.imageFile }}" style="object-fit: contain" loading="lazy">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="column p-5 is-half textContainer">
                <h2>{{ hobby.title }}</h2>
                    <div class="controls">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <a class="ml-3" href="{{ path('edit_hobby', {'id':hobby.id}) }}"><i class="fas fa-edit"></i></a>
                            <a class="ml-3" href="{{ path('delete_hobby', {'id':hobby.id}) }}#hobby"><i class="fas fa-trash"></i></a>
                        {% endif %}
                    </div>

                <p class="has-text-black">{{ hobby.description }}</p>
            </div>
    </div>
{% endfor %}

