<section id="work" class="pb-6 animation {% if sortable is defined %} {{ sortable }} " data-id="{{ id }}" data-sorting="{{ sorting }}"{% else %}"{% endif %}>
    {%  include 'chunks/divider.html.twig' %}
    <div class="inner-container">
        <div class="content">
            <h2>Work {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}<a class="ml-5 button mb-5" href="{{ path('create_project') }}">Add Work</a>    {% endif %}
            </h2>

            <div class="columns is-multiline">
                <div class="has-swiper pb-6">
                    <div class="project-swiper">
                        <div class="swiper-wrapper">
                            {% for project in projects %}
                                <div class="swiper-slide">
                                    <div class="column project project_{{ project.id }}">
                                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                            <a class="is-size-3" href="{{ path('edit_project', {'id':project.id}) }}"><i class="fas fa-edit"></i></a>
                                            <a class="is-size-3" href="{{ path('delete_project', {'id':project.id}) }}#project"><i class="fas fa-trash"></i></a>
                                        {% endif %}
                                        <div class="flip">
                                            <div class="flip-inner">
                                                <div class="flip-front">
                                                    {% if project.attachments %}
                                                        <img src="{{ asset('/uploads/project/')~project.attachments[0].imageFile  }}" alt="{{ project.attachments[0].imageFile }}" style="width:100%;height:100%;object-fit: cover" loading="lazy">
                                                    {% endif %}
                                                </div>
                                                <div class="flip-back box">
                                                    <h1 class="mt-4">Project <?echo $i?></h1>
                                                    <p>Architect & Engineer</p>
                                                    <p>We love that guy</p>
                                                    <a onclick="window.openPopup(this,{{ project.id }})"><i class="fas fa-book-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- modal was here -->
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="navigation mt-6 is-flex is-reversing">
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% for project in projects %}
                <div class="modal modal_{{ project.id }}" >
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <a onclick="switchProject(this,{{ project.id }},{{ loop.index-1 }},'prev')">
                                <div class="arrow-next prev">
                                    <div class="arrow-next-top"></div>
                                    <div class="arrow-next-bottom"></div>
                                </div>
                            </a>
                            <p class="modal-card-title has-text-centered">Projekt <?echo $i ?></p>
                            <a onclick="switchProject(this,{{ project.id }},{{ loop.index-1 }},'next')">
                                <div class="arrow-next">
                                    <div class="arrow-next-top"></div>
                                    <div class="arrow-next-bottom"></div>
                                </div>
                            </a>

                            <button onclick="closePopup({{ project.id }})" class="delete" aria-label="close"></button>
                        </header>
                        <section class="modal-card-body">
                            <div class="columns">
                                <div class="column is-half {% if project.attachments|length > 1 %}has-swiper{% endif %}">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            {% for attachment in project.attachments %}
                                                <div class="swiper-slide">
                                                    <img src="{{ asset('/uploads/project/')~attachment.imageFile  }}" alt="{{ attachment.imageFile }}" style="object-fit: contain" loading="lazy">
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                                <div class="column">
                                    <h3>Titel</h3>
                                    <progress class="progress is-primary" value="0" max="100" data-value="15">15%</progress>
                                    <progress class="progress is-warning" value="0" max="100" data-value="20">75%</progress>
                                    <progress class="progress is-danger" value="0" max="100" data-value="35">90%</progress>
                                    <div class="content">
                                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <footer class="modal-card-foot">
                            <a href=""><i class="fab fa-github"></i></a>
                            <a href="https://www.google.ch" target="_blank">www.google.ch<i class="fas fa-external-link-alt"></i></a>
                        </footer>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>