{% extends "base.html.twig" %}

{% block title %}Events{% endblock %}
{% block body %}
    <section class="news pb-6">
        <div class="inner-container">
            <section class="accordions">
            {% for event in events %}
                <article class="accordion mb-6">
                    <div class="accordion-header toggle">
                        <div class="columns is-mobile">
                            <div class="column is-3">
                                <figure class="image">
                                    <img class="object-fit-cover" src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="{{ event.image }}" />
                                </figure>
                            </div>
                            <div class="column is-5">
                                <h3 class="title">{{ event.title }}</h3>
                                <p class="location"><i class="far fa-building"></i>{{ event.location }}</p>
                            </div>
                            <div class="column date is-2">
                                <p><i class="far fa-calendar"></i>29.07.1997</p>
                            </div>
                            <div class="column time is-2">
                                <p><i class="far fa-clock"></i>{{ event.time }}</p>
                            </div>
                        </div>
                        <div class="gg-chevron-down" aria-label="toggle"></div>
                    </div>

                    <div class="accordion-body">
                        <div class="accordion-content">
                            <div class="columns is-tablet">
                                <div class="column eventInfos is-3">
                                    <a class="button red mb-5">Tickets</a>
                                    <p>Tickets</p>
                                    <p>Tickets</p>
                                    <p>Tickets</p>
                                    <p>Tickets</p>
                                    <p>Tickets</p>
                                </div>
                                <div class="column eventContent is-4">
                                    {{ event.description|markdown_to_html }}
                                </div>
                                <div class="column eventGallery is-5">
                                    <figure class="image">
                                        <img class="object-fit-cover" src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="{{ event.image }}" />
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
            </section>
        </div>
    </section>

{% endblock %}
