<section class="section" id="hobby">

    <h2>Hobbies
        <a class="ml-5 button is-success mb-5" href="{{ path('create_hobby') }}">Add Hobby</a>
    </h2>

    <div class="columns is-multiline is-tablet">

        {% for hobby in hobbies %}
            <div class="column is-half {% if hobby.attachments|length > 1 %}has-swiper{% endif %}">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {% for attachment in hobby.attachments %}
                            <div class="swiper-slide">
                                <img src="{{ asset('/uploads/hobby/')~attachment.imageFile  }}" alt="{{ attachment.imageFile }}" style="object-fit: contain">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="column is-half">
                <h3>{{ hobby.title }}
                    <a class="ml-3" href="{{ path('edit_hobby', {'id':hobby.id}) }}"><i class="fas fa-edit"></i></a>
                    <a class="ml-3" href="{{ path('delete_hobby', {'id':hobby.id}) }}#hobby"><i class="fas fa-trash"></i></a>
                </h3>
                <p>{{ hobby.description }}</p>
            </div>
        {% endfor %}
    </div>
</section>