{% extends "base.html.twig" %}

{% block title %}Events{% endblock %}
{% block body %}
    <section class="news pb-6">
        <div class="inner-container">
            <h1>{{ page.title }}</h1>
            <div class="columns is-multiline">
                {% for member in members %}
                    <div class="column entry is-4">
                        <div class="imageContainer mb-5">
                            <figure class="image is-square">
                                <img class="object-fit-cover" src="{{ vich_uploader_asset(member, 'imageFile') }}" alt="{{ member.image }}" />
                            </figure>
                        </div>
                        <div class="contentContainer">
                            <h3 class="title3 mb-3">{{ member.name }}</h3>~<span class="is-italic">{{ member.zitat }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
