{% extends "base.html.twig" %}

{% block title %}News{% endblock %}
{% block body %}
    <section class="section news pb-6">
        <div class="inner-container">

            <a class="button mb-5" href="{{ path('create_news') }}">Add News</a>
            <div class="columns is-multiline">
            {% for newsEntry in news %}
                <div class="column is-4">
                    <div class="card ">
                        <a href="{{ path('news_detail', {id: newsEntry.id}) }}">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                                </figure>
                            </div>
                        </a>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">{{ newsEntry.name }}</p>
                                    <p class="subtitle is-6">@{{ newsEntry.title }}</p>
                                </div>
                            </div>

                            <div class="content">
                                {{ newsEntry.teaser }}
                                <a href="#">#css</a> <a href="#">#responsive</a>
                                <br>
                                <time datetime="2016-1-1"></time>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
