{% set class = section.template is not empty ? section.template : section.name|lower %}
{% set disabled = is_granted('ROLE_DEV') is empty and section.id in sectionDevAccess  ? 'disabled' : ''  %}
<section id="{{ section.name|lower }}"  class="{{ class }} has-background-white {% if app.user %}no-animation sortable{% else %}animation{% endif %}" data-id="{{ section.id }}" data-sorting="{{ section.sorting }}">
    {%  include 'chunks/divider.html.twig' %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %} {# second way to proof if user is logged in #}
        <div class="tooltip">
            <div class="columns has-background-white is-justify-content-center">
                <div class="column is-narrow">
                    <a class="button centered mb-6 is-success {{ disabled }}" href="{{ path('edit_section', {'section':section.id}) }}">Edit section</a>
                </div>
                <div class="column is-narrow">
                    <a class="button centered mb-6 is-danger {{ disabled }}" href="{{ path('delete_section', {'section':section.id}) }}">Delete section</a>
                </div>
            </div>
            {% if disabled %}
                <span class="tooltiptext has-text-weight-bold is-size-5"><i class="fas fa-exclamation-triangle"></i> ROLE_DEV rights required.</span>
            {% endif %}
        </div>
    {% endif %}
    <div class="inner-container mb-6">
    {% for content in section.content %}
        <div class="content inner mb-6">
            {% if content.title %}
                <h2 class="has-text-black">{{ content.title }}</h2>
            {% endif %}
            {% if content.text %}
                <p class="has-text-black">
                    {{ content.text }}
                </p>
            {% endif %}
            <div class="{% if content.getMyFiles()|length > 1 %}has-swiper{% endif %}">
                <div class="{% if content.getMyFiles()|length > 1 %}swiper{% endif %}">
                    <div class="swiper-wrapper">
                        {% for attachment in content.getMyFiles()|sort((a, b) => a.sorting <=> b.sorting) %}
                            <div class="swiper-slide">
                                <img src="{{ asset('/uploads/section/')~attachment.imageFile  }}" alt="{{ attachment.imageFile }}" style="object-fit: contain" loading="lazy">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% if section.template %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% if section.template != 'contact' and section.template is not null %}
                <a class="button centered has-text-white has-background-black mb-6 mt-6" href="{{ path('create_'~section.template) }}">
                    Add {{ section.name|lower }}
                </a>
            {% endif %}
        {% endif %}
        {%  include 'sections/'~section.template~'.html.twig' %}
    {% endif %}
</section>