{% set loggedIn = is_granted('IS_AUTHENTICATED_REMEMBERED') == true ? 'sortable' : 'animation' %}
<section id="{{ section.name|lower }}"  class="has-background-white {{ loggedIn }}" data-id="{{ section.id }}" data-sorting="{{ section.sorting }}">
    {%  include 'chunks/divider.html.twig' %}
    <a href="{{ path('edit_section', {'id':section.id}) }}" class="button centered mb-6 is-success">Section bearbeiten</a>
    {% for content in section.content %}
        <div class="inner-container">
            <div class="content inner m-auto">
                {% if content.title %}
                    <h2 class="has-text-black">{{ content.title }}</h2>
                {% endif %}
                {% if content.text %}
                    <p class="has-text-black">
                        {{ content.text }}
                    </p>
                {% endif %}
                {% if section.id == 4 %}
                    <img src="uploads/hobby/6db17a6c5de7e23c885884f263308843" alt="" style="object-fit: cover" loading="lazy">
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% if section.template %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}<a class="button centered has-text-white has-background-black mb-5 mt-6" href="{{ path('create_'~section.name|lower) }}">Add
    {{ section.name }}</a>    {% endif %}
        {%  include 'sections/'~section.template %}
    {% endif %}
</section>